<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/w3.css}">
    <link rel="stylesheet" th:href="@{/showroom.css}">
    <title th:text="|${generalInfo.shortName} - ${generalInfo.longName} - Admin|">Cedar Ridge - Cedar Ridge Custom Homes - Admin</title>
</head>
<body>
<div th:replace="~{navbar}"></div>
<div class="w3-content w3-padding w3-card" style="max-width:700px">
    <div class="w3-container w3-padding-32">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">General Info</h3>
        <div th:if="${errorMsg}" th:text="${errorMsg}" class="w3-text-red"></div>
        <div th:if="${successMsg}" th:text="${successMsg}" class="w3-text-green"></div>
        <form method="post" th:action="@{/admin/general-info}" enctype="multipart/form-data">
            <p>
                <label for="shortName">Company short name</label>
                <input type="text" id="shortName" name="shortName" th:value="${generalInfo.shortName}"
                       class="w3-input w3-border fixed-input" required>
            </p>
            <p>
                <label for="longName">Company long name</label>
                <input type="text" id="longName" name="longName" th:value="${generalInfo.longName}"
                       class="w3-input w3-border fixed-input" required>
            </p>
            <p>
                <label for="featureImage">Feature image</label>
                <input type="file" id="featureImage" name="featureImage" class="w3-input w3-border" accept="image/*">
            </p>
            <div class="w3-margin-bottom">
                <div class="w3-text-grey w3-small">Current feature image</div>
                <img th:src="@{${generalInfo.featureImagePath}}" alt="Feature image" style="max-width:100%; height:auto;">
            </div>
            <div class="w3-center">
                <input type="submit" class="w3-button w3-black" value="Save">
            </div>
        </form>
    </div>
</div>
</body>
</html>
